#container {
  margin: 20px auto;
  float: auto;
  width: 1400px;
  background-color: rgb(24, 46, 105);
  border: 3px solid rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 330px 997px;
}
