.header {
  float: left;
  background-color: rgb(24, 46, 105);
  border-right: 5px solid black;
  display: grid;
  grid-template-columns: 330px;
  
}

#foto {
  float: auto;
  width: 330px;
  margin-top: 20px;
}

.header > h2 {
  background-color: black;
  margin: 0;
  color: white;
  text-align: center;
}

.header > a {
  color: white;
  font-size: 25px;
  margin-top: 10px;
  text-decoration: none;
  margin-left: 20px;
}

.header > a:hover {
  background-color: black;
  transition: 5ms;
}

#correo {
  width: 65px;
  margin-top: 10px;
  height: 40px;
  margin-left: 200px;
  padding-right: 60px;
  background-color: dimgray;
  border-radius: 40px;
}

.header > #contacto {
  width: 65px;
  margin-top: 10px;
  height: 40px;
  margin-left: 200px;
  padding-right: 60px;
  background-color: dimgray;
  border-radius: 40px;
}

#ubicacion {
  width: 65px;
  margin-top: 10px;
  height: 40px;
  margin-left: 200px;
  padding-right: 60px;
  background-color: dimgray;
  border-radius: 40px;
}

#redglobal {
  width: 65px;
  margin-top: 10px;
  height: 40px;
  margin-left: 200px;
  padding-right: 60px;
  background-color: dimgray;
  border-radius: 40px;
}

.header > a > img {
  width: 305px;
  margin-top: 5px;
  height: 90px;
}

.header > a > img:hover {
  background-color: white;
}
